* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.layout {
    height: 100vh;
}

.container {
    display: flex;
    height: 66vh;
}

.footer, .header {
    background-color: gray;
    height: 15vh;
}

.header {
    margin-bottom: 2vh;
}

.footer {
    margin-top: 2vh;
}

.content-a {
    background-color: green;
    width: 25%;
}

.content-b {
    background-color: rgb(99, 239, 99);
    width: 50%;
}

.content-c {
    background-color: yellow;
    width: 25%;
}


@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .content-a {
        height: 36vh;
        width: 100%;
    }
    
    .content-b, .content-c {
        height: 15vh;
        width: 100%;
    }
}


