* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.layout {
    height: 100vh;;
}

.header, .footer{
    background-color: grey;
    height: 15vh;
}

.header {
    margin-bottom: 2vh;
}

.footer {
    margin-top: 2vh;
}

.container {
    display: flex;
    flex-direction: row;

}
.box-A-B {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 66vh;
}

.content-a {
    background-color: red;   
}

.content-b {
    background-color: orange;
   
}

.content-c {
    background-color: yellow;
    width: 30%;
}

.content-a, .content-b{
    height: 40vh;
}

@media (max-width: 700px) {
    
        
    
    .content-c,.footer, .header {
        width: 100%;
    }
    .box-A-B {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
       
    }
    .content-c {
        height: 40vh;
        width: 100%;
    }
    .box-A-B {
        width: 100%;
    }
}